a{
	font-family: Verdana;
	font-size: 12px !important;
}

.ui-widget{
    font-family:Verdana;
    font-size: 12px !important;
}

#content {
	width: 90%;
	float: right;
}

#content form {
	margin-left: 5%;
	margin-right: 5%;
	width: 90%
}

#content form .ui-outputlabel{
	padding-right: 5px;
}

#content #content_title {
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 2%;
}

#content #content_title span {
	color: Black;
	font-size: x-large;
	font-family: Verdana
}

#menu {
	width: 10%;
	float: left;
}

#header {
	text-align: center;
	color: GhostWhite;
	font-style: normal;
	background-color: Black;
}