<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sec="http://www.springframework.org/security/tags">

	<ui:composition template="/pages/template/template.xhtml">
		<ui:define name="dynamic_content">
			<h1 class="title ui-widget-header ui-corner-all">Categorias</h1>
			
			<h:form class="entry" id="form">
				
				<p:contextMenu for="categoryTree">
					<p:menuitem value="Adicionar" update="categoryTree" icon="ui-icon-plus" oncomplete="PF('categoryDialog').show()" />  
        			<p:menuitem value="Editar" update="categoryTree" actionListener="#{categoriaMB.editCategory}" icon="ui-icon-pencil" />  
        			<p:menuitem value="Deletar" update="categoryTree" actionListener="#{categoriaMB.deleteCategory}" icon="ui-icon-close"/>  
    			</p:contextMenu>
				
				<p:tree id="categoryTree" value="#{categoriaMB.root}" var="categoria" selectionMode="single" selection="#{categoriaMB.selectedNode}" style="width : 190px;">  
			    	<p:treeNode id="treeNode">  
			        	<h:outputText value="#{categoria.nome}" id="lblNode"/>  
			        </p:treeNode>  
				</p:tree>
			</h:form>
				
			<p:dialog header="Add Category" widgetVar="categoryDialog" resizable="false" width="200" showEffect="clip" hideEffect="fold">
		 		<h:form id="addCategoryForm">  
			        <h:panelGrid columns="2" style="margin-bottom:10px">  
			        	<p:outputLabel for="name" value="Nome:" />
						<p:inputText id="name" value="#{categoriaMB.entity.name}" required="true" maxlength="32" size="35" />
			        </h:panelGrid>  
		  			<br/>
		        	<p:commandButton id="submitButton" value="Salvar" action="#{categoriaMB.save()}" update=":form:categoryTree" oncomplete="PF('categoryDialog').hide();"/>  
		    	</h:form>
			</p:dialog>			  
			
		
		</ui:define>
	</ui:composition>
</html>