<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sec="http://www.springframework.org/security/tags">

	<ui:composition template="/pages/template/template.xhtml">
		<ui:define name="dynamic_content">
		
			<h:form style="margin-left: 50px; margin-right: 50px" id="importForm" enctype="multipart/form-data">
				<p:fileUpload fileUploadListener="#{importerMB.uploadFile}" auto="true" dragDropSupport="false"  
                  update="messages" allowTypes="/(\.|\/)(xls|xlsx)$/" />

				<p:growl id="messages" showDetail="true"/>
			</h:form>
		
		</ui:define>
	</ui:composition>
</html>