<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

	<h:form>
		<p:panelMenu>  
			<p:submenu label="Cadastro">
				<p:menuitem value="Categoria" outcome="/pages/cadastro/categoria" />
				<p:menuitem value="Operador" outcome="/pages/cadastro/operador" />
			</p:submenu>
			<p:submenu label="Importação">
				<p:menuitem value="Extrato" outcome="/pages/importacao/import" /> 	
			</p:submenu>
	    </p:panelMenu>	
	</h:form>
</html>