<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 2.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml2.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:ui="http://java.sun.com/jsf/facelets" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:f="http://java.sun.com/jsf/core">
	
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<h:outputStylesheet library="css" name="default.css" />
	</h:head>
	
	<h:body>
		<div id="header">
			<ui:include src="/pages/template/header.xhtml" />
		</div>
			
		<div id="page" class="ui-widget">
			<div id="sidebar">
				<ui:include src="/pages/template/sidebar.xhtml" />
			</div>
			
			<div id="content" >
				<div class="post">
					<ui:insert name="dynamic_content"/>
				</div>
			</div>		
		</div>
		
		<div style="clear: both;" />
		
		<div id="footer">
			<ui:include src="/pages/template/footer.xhtml" />
		</div>
	</h:body>
</html>