<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:sec="http://www.springframework.org/security/tags">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Login</title>
		
		<h:outputStylesheet library="css" name="login.css" />
		<h:outputStylesheet library="css" name="notification.css" />
	</h:head>
	
	<h:body>	
		<h:outputScript library="primefaces" name="jquery/jquery.js" />
		
		<h:outputScript library="js" name="login.js" />
		<h:outputScript library="js" name="general.js" />
		<h:outputScript library="js" name="notification.js" />
		
	    <div class="loginwrapper">
			<div class="loginwrap zindex100">
				<h1 class="logintitle">
					<span class="iconfa-lock">
						<img src="resources/images/login/lock.png" />
					</span>
					Login
					<span class="subtitle" style="text-align: justify;">
						Bem vindo ao sistema bla bla bla etc etc texto grande
						pra ver como fica bla bla bla texto texto etc etc mais
						um pouco de texto um dois tres quatro muita informacao
						mais um pouquinho so pra ver como fica tiro liro liu!!
					</span>
				</h1>
					
		        <div class="loginwrapperinner">
		            <form action="j_spring_security_check" method="post" id="loginform" name="loginform">
						<p><input type="text" id="j_username" name="j_username" placeholder="Login" /></p>
			            <p><input type="password" id="j_password" name="j_password" placeholder="Senha" /></p>
						<p><h:commandButton value="Login" id="j_submit" styleClass="btn btn-default btn-block" /></p>
					</form>
				</div>
			    <div class="loginshadow animate3 fadeInUp"></div>
			</div>
		</div>

		<h:outputScript rendered="#{not empty param.error}">		
			$(document).ready(function() {	
				error('Usuario ou senha incorreta!');
			});
		</h:outputScript>
		
		<div class="gradient" />
	</h:body>
</html>